In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_xml('dataset/GHS_Masterdata1.xml',xpath="/GHS/data/table/item")
df.columns

Index(['THEME', 'STATUS', 'REF_PER_COLLECT', 'SD_VALUE', 'CCYY', 'M3M',
       'STAT_VAR', 'STAT_PRES', 'STAT_VALUE', 'LQTYPE', 'TENURE',
       'MDHI_XBONUS', 'MDHI', 'HHS', 'SEX', 'SEX_PROP', 'RSNEI', 'MARITAL',
       'EDU', 'AGE', 'OCC', 'MEE_XBONUS', 'MEE', 'IND', 'HRWK', 'EMACT',
       'RSNLESS35', 'WUDE', 'PIND', 'DURUE', 'RSNLJ', 'POCC'],
      dtype='object')

In [14]:
df["MDHI"].dropna().value_counts()

40000 - 44999    608
60000 - 79999    608
10000 - 14999    608
15000 - 19999    608
20000 - 24999    608
25000 - 29999    608
30000 - 34999    608
35000 - 39999    608
8000 - 9999      608
45000 - 49999    608
50000 - 59999    608
80000 - 99999    456
< 4000           456
6000 - 7999      456
>= 100000        456
4000 - 5999      456
>= 80000         152
< 8000           152
Name: MDHI, dtype: int64

In [15]:
df["MDHI_XBONUS"].dropna().value_counts()

40000 - 44999    532
60000 - 79999    532
10000 - 14999    532
15000 - 19999    532
20000 - 24999    532
25000 - 29999    532
30000 - 34999    532
35000 - 39999    532
8000 - 9999      532
45000 - 49999    532
50000 - 59999    532
80000 - 99999    380
< 4000           380
6000 - 7999      380
>= 100000        380
4000 - 5999      380
>= 80000         152
< 8000           152
Name: MDHI_XBONUS, dtype: int64